function Random.setSeed 0
push argument 0
pop static 0
push constant 0
return
function Random.rand 0
push static 0
push constant 0
add
pop static 0
push static 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 0
push constant 32767
sub
push constant 550
sub
pop static 0
label IF_FALSE0
push static 0
return
function Random.randRange 2
push constant 1
pop local 0
label WHILE_EXP0
push local 0
push argument 0
lt
not
if-goto WHILE_END0
push local 0
push constant 2
call Math.multiply 2
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
call Random.rand 0
push local 0
and
pop local 1
label WHILE_EXP1
push local 1
push argument 0
gt
not
if-goto WHILE_END1
call Random.rand 0
push local 0
and
pop local 1
goto WHILE_EXP1
label WHILE_END1
push argument 1
push constant 100
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 128
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 128
pop local 1
push local 1
return
label IF_FALSE1
label IF_FALSE0
push argument 1
push constant 10
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
push constant 100
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 100
pop local 1
push local 1
return
label IF_FALSE3
label IF_FALSE2
push argument 1
push constant 0
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 1
return
label IF_FALSE4
push local 1
return
